<div>
    <h2 id="page-heading">
        <span>Locadors</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-locador" [routerLink]="['/locador/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Locador
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="locadors">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Imovel</span></th>
            <th><span>Nome</span></th>
            <th><span>End</span></th>
            <th><span>Idt</span></th>
            <th><span>Cpf</span></th>
            <th><span>Imovel</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let locador of locadors ;trackBy: trackId">
                <td><a [routerLink]="['/locador', locador.id, 'view' ]">{{locador.id}}</a></td>
                <td>{{locador.imovel}}</td>
                <td>{{locador.nome}}</td>
                <td>{{locador.end}}</td>
                <td>{{locador.idt}}</td>
                <td>{{locador.cpf}}</td>
                <td>
                    <div *ngIf="locador.imovel">
                        <a [routerLink]="['../imovel', locador.imovel?.id, 'view' ]" >{{locador.imovel?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/locador', locador.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/locador', locador.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'locador/'+ locador.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
