<div>
    <h2 id="page-heading">
        <span>Imovels</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-imovel" [routerLink]="['/imovel/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Imovel
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="imovels">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Nome</span></th>
            <th><span>End</span></th>
            <th><span>Contrato</span></th>
            <th><span>Ficha</span></th>
            <th><span>Oficios</span></th>
            <th><span>Aditivo</span></th>
            <th><span>Vistoria</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let imovel of imovels ;trackBy: trackId">
                <td><a [routerLink]="['/imovel', imovel.id, 'view' ]">{{imovel.id}}</a></td>
                <td>{{imovel.nome}}</td>
                <td>{{imovel.end}}</td>
                <td>{{imovel.contrato}}</td>
                <td>{{imovel.ficha}}</td>
                <td>{{imovel.oficios}}</td>
                <td>{{imovel.aditivo}}</td>
                <td>
                    <div *ngIf="imovel.vistoria">
                        <a [routerLink]="['../vistoria', imovel.vistoria?.id, 'view' ]" >{{imovel.vistoria?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/imovel', imovel.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/imovel', imovel.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'imovel/'+ imovel.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
