<div>
    <h2 id="page-heading">
        <span>Locatarios</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-locatario" [routerLink]="['/locatario/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Locatario
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="locatarios">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Imovel</span></th>
            <th><span>Nome</span></th>
            <th><span>End</span></th>
            <th><span>Idt</span></th>
            <th><span>Cpf</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let locatario of locatarios ;trackBy: trackId">
                <td><a [routerLink]="['/locatario', locatario.id, 'view' ]">{{locatario.id}}</a></td>
                <td>{{locatario.imovel}}</td>
                <td>{{locatario.nome}}</td>
                <td>{{locatario.end}}</td>
                <td>{{locatario.idt}}</td>
                <td>{{locatario.cpf}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/locatario', locatario.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/locatario', locatario.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'locatario/'+ locatario.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
