<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-locatario-heading">Create or edit a Locatario</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!locatario.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="locatario.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_imovel">Imovel</label>
                    <input type="text" class="form-control" name="imovel" id="field_imovel"
                        [(ngModel)]="locatario.imovel" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                        [(ngModel)]="locatario.nome" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_end">End</label>
                    <input type="text" class="form-control" name="end" id="field_end"
                        [(ngModel)]="locatario.end" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_idt">Idt</label>
                    <input type="text" class="form-control" name="idt" id="field_idt"
                        [(ngModel)]="locatario.idt" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cpf">Cpf</label>
                    <input type="text" class="form-control" name="cpf" id="field_cpf"
                        [(ngModel)]="locatario.cpf" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_imovel">Imovel</label>
                    <select class="form-control" id="field_imovel" name="imovel" [(ngModel)]="locatario.imovel" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="imovelOption.id === locatario.imovel?.id ? locatario.imovel : imovelOption" *ngFor="let imovelOption of imovels; trackBy: trackImovelById">{{imovelOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
