<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="vistoria">
            <h2><span>Vistoria</span> {{vistoria.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Documentos</span></dt>
                <dd>
                    <span>{{vistoria.documentos}}</span>
                </dd>
                <dt><span>Imagens</span></dt>
                <dd>
                    <span>{{vistoria.imagens}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/vistoria', vistoria.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
